{{define "common/head"}}

    {{if .headScript}}
        {{.headScript|unescaped}}
    {{end}}

    {{if .externHead}}
        {{.externHead|unescaped}}
    {{end}}
{{end}}

{{define "common/footer"}}
    {{if .footerScript}}
        {{.footerScript|unescaped}}
    {{end}}
    {{if .externFooter}}
        {{.externFooter|unescaped}}
    {{end}}
{{end}}


{{define "common/sidebarWidget"}}
    {{if .sidebarsWidgets}}
        {{.sidebarsWidgets|unescaped}}
    {{end}}
{{end}}