{{template "layout/base" .}}

{{define "content"}}
    <div class="site-content-contain">
        <div id="content" class="site-content">
            <div class="wrap">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        {{template "layout/empty"}}
                    </main>
                </div>
            </div>
        </div>
    </div>
{{end}}

