{{define "layout/colophon"}}
    <footer id="colophon" class="site-footer">
        <div class="wrap">
            <div class="site-info">
                <a href="https://cn.wordpress.org/" class="imprint">自豪地采用WordPress</a>
            </div>
        </div>
    </footer>
{{end}}