{{define "layout/sidebar" }}
<div id="widget-area" class="widget-area" role="complementary">
    <aside id="search-2" class="widget widget_search">
        <form role="search" method="get" class="search-form" action="https://www.xloyy.com/">
            <label>
                <span class="screen-reader-text">搜索：</span>
                <input type="search" class="search-field" placeholder="搜索…" value="" name="s">
            </label>
            <input type="submit" class="search-submit screen-reader-text" value="搜索">
        </form>
    </aside>
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h2 class="widget-title">近期文章</h2>
        <nav aria-label="近期文章">
            <ul>
                {{range $k,$v:=.recentPosts}}
                <li>
                    <a href="/p/{{$v.Id}}">密码保护：{{$v.PostTitle}}</a>
                </li>
                {{end}}
            </ul>

        </nav>
    </aside>
    <aside id="recent-comments-2" class="widget widget_recent_comments"><h2 class="widget-title">近期评论</h2>
        <nav aria-label="近期评论">
            <ul id="recentcomments"></ul>
        </nav>
    </aside>
    <aside id="archives-2" class="widget widget_archive"><h2 class="widget-title">归档</h2>
        <nav aria-label="归档">
            <ul>
                {{range $k,$v := .archives}}
                <li><a href="/p/date/{{$v.Year}}/{{$v.Month|printf "%02s"}}">{{$v.Year}}年{{$v.Month|printf "%02s"}}月</a></li>
                {{end}}
            </ul>

        </nav>
    </aside>
    <aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">分类</h2>
        <nav aria-label="分类">
            <ul>
                {{range $k,$v := .categories}}
                <li class="cat-item cat-item-{{$v.WpTerms.TermId}}"><a href="https://www.xloyy.com/p/category/{{$v.Name}}">{{$v.Name}}</a>
                {{end}}
            </ul>

        </nav>
    </aside>
    <aside id="meta-2" class="widget widget_meta"><h2 class="widget-title">其他操作</h2>
        <nav aria-label="其他操作">
            <ul>
                <li><a href="https://www.xloyy.com/wp-login.php">登录</a></li>
                <li><a href="https://www.xloyy.com/feed">条目feed</a></li>
                <li><a href="https://www.xloyy.com/comments/feed">评论feed</a></li>

                <li><a href="https://cn.wordpress.org/">WordPress.org</a></li>
            </ul>

        </nav>
    </aside>
</div>
{{end}}